.product-img {
    transition: 0.3s linear;
}

.product-img img {
    object-fit: cover;
    transition: transform 0.3s linear;
}

.product-img img:hover {
    transform: scale(1.025);
    cursor: pointer;
}